@font-face {
    font-family: 'NexaHeavy';
    src: url('../fonts/NexaHeavy.eot');
    src: url('../fonts/NexaHeavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NexaHeavy.woff2') format('woff2'),
         url('../fonts/NexaHeavy.woff') format('woff'),
         url('../fonts/NexaHeavy.ttf') format('truetype'),
         url('../fonts/NexaHeavy.svg#NexaHeavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NexaLight';
    src: url('../fonts/NexaLight.eot');
    src: url('../fonts/NexaLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NexaLight.woff2') format('woff2'),
         url('../fonts/NexaLight.woff') format('woff'),
         url('../fonts/NexaLight.ttf') format('truetype'),
         url('../fonts/NexaLight.svg#NexaLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
.container {
	width: 960px;
	padding: 0	10px; /* ширина в 960 пикс, а не в 940 (как на макете) и внутриннее
                    	 отступы по 10 пиес для того, чтобы при сужении окна браузера
                    	 у нас были отступы  */
	margin: 0 auto;
}
#header {
	background-color: #373737;
	font-size: 0;
}
.logo a {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 80px;
	height: 65px;
	background: #f26c4f;
	text-align: center;
	color: #fff;
	font: 36px "NexaHeavy", sans-serif;
}
.logo > span {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	font: 18px "NexaLight", sans-serif;
	color: #fff;
}
.logo a:after,
.feature-txt:after {
	content: "";
	display: block;
	position: absolute;
	border-top: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 12px solid #f26c4f;
	left: 100%;
	top: 50%;
	margin-top: -12px;
}
#nav {
	background-color: #474747;
}
.navigation li {
	float: left;
	padding: 28px 0;
}
.navigation li span {
	display: block;
	padding: 0 25px;
	border-right: 1px solid #767676;
	height: 11px;
	line-height: 11px;
}
.navigation a {
	position: relative;
	font-size: 12px;
	color: #fff;
}
.navigation li.active a:after,
.navigation li a:hover:after {
	content: "";
	display: block;
	position: absolute;
	height: 4px;
	background: #f26c4f;
	left: 0; /* чтобы растянуть на всю шиирну ссылки */
	right: 0;
	bottom: -26px;
}
.panel-header {
	padding: 15px 0 10px;
}
.panel-header form {
	width: 300px;
}
.panel-header [type=search] {
	width: 100%;
	height: 45px;
	border: 0;
	background: #fff url(../img/clock.png) no-repeat right 13px center;
	padding-left: 20px;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	    -ms-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	     -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.panel-header [type=search]::-webkit-input-placeholder {
	font-size: 12px;
	font-weight: bold;
	color: #959595;
}
.social {
	padding: 15px 0;
}
.social li {
	margin-left: 25px;
	font-size: 0;
}
.social li:first-child {
	margin-left: 0;
}
.social a {
	display: inline-block;
	padding-left: 20px;
	height: 13px;
	font-size: 12px;
	color: #8f8f8f;
	line-height: 13px;
	background: url(../img/social-ic.png) no-repeat;
}
.social a:hover {
	color: #555;
}
.social .tw{
	background-position: 0 0;
}
.social .fb{
	background-position: 0 -13px;
}
.social .rs{
	background-position: 0 -26px;
}
.social .em{
	background-position: 0 -39px;
}
#feature,
#articles {
	margin-bottom: 15px;
}
.feature-img {
	position: relative;
	height: 390px;
	width: 630px;
	background-color: #f26c4f;
	overflow: hidden; 
}
.feature-img img {
	display: block; /* чтобы убрать нижний отступ */
	width: 100%;
	height: auto;
}
.feature-descr {
	position: absolute;
	width: 365px;
	padding: 25px 0 25px 30px;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, .5);
}
.feature-descr p {
	color: #fff;
	font-size: 16px
}
.feature-txt {
	position: relative;
	height: 390px;
	width: 310px;
	padding: 40px 37px;
	background: #373737;
	border-left: 9px solid #f26c4f;
}
.feature-txt:after {
	left: 0;
	top: 45px;
	margin-top: 0;
}
.feature-txt h4 {
	font: bold 19px/24px Arial;
	color: #fff;
	margin-bottom: 5px;
}
.feature-txt p {
	font-size: 12px;
	line-height: 24px;
	color: #a7a7a7;
	margin-bottom: 10px;
}
.date {
	display: inline-block;
	height: 18px;
	line-height: 18px;
	background: url(../img/clock2.png) no-repeat left center;
	padding-left: 25px;
	color: #a7a7a7;
	font-size: 12px;
}
.article-item {
	width: 300px;
	height: 380px;
	background: #fff;
	margin-right: 20px;
	border-bottom: 1px solid rgba(211,211,211,1);
}
.article-item:last-child {
	margin-right: 0;
}
.article-img {
	position: relative;
	overflow: hidden;
}
.article-item img {
	width: 100%;
	height: 190px;
}
.article-footer {
	padding: 24px 28px 45px 28px;
}
h3.title {
	font: bold 25px/31px Arial;
	margin-bottom: 10px;
	color: #4f4f4f;
}
h3.title a {
	color: #4f4f4f;
}
h3.title a:hover {
	color: #333;
}
.article-footer p {
	 color: #646464;
	 font: 12px/24px Arial;
}
.zoom {
	position: absolute;
	padding-right: 15px;
	padding-top: 10px;
	top: 0;
	right: 0;
	height: 78px;
	width: 78px;
	background: url(../img/zoom-bg.png) no-repeat;
	text-align: right;

}
.zoom a {
	font-family: Tahoma;
	display: inline-block;
	position: 5px 8px;
	color: #fff;
	font-size: 25px;
}
.zoom a:hover {
	font-weight: bold;
}
.sidebar {
	width: 300px;
}
.content {
	margin-right: 320px;
}
.news-bl {
	position: relative;
	background-color: #373737;
	color: #fff;
}
.news-bl p,
.news-bl h3.title a {
	color: #fff;
}
.news-bl h3.title a:hover {
	color: #ccc;
}
.news-item {
	margin-bottom: 15px;
	border-left: 4px solid #f26c4f;
	padding: 34px;
	background-color: #fff;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
	   -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
	        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
}
.news-item.selected,
.news-item:hover {
	background: #f26c4f;
	border-color: #ce4e32;
}
.title-news {
	font-weight: bold;
	color: #474747;
	margin-bottom: 10px;
}
h4.title-news {
	font-size: 24px;
}
h5.title-news {
	font-size: 18px;
}
h4.title-news a {
	color: inherit;
}
h5.title-news a {
	color: inherit;
}
h4.title-news a:hover {
	color: #000;
}
h5.title-news a:hover {
	color: #000;
}
.news-item p {
	line-height: 21px;
	color: #707070;
}
.news-item.selected p,
.news-item.selected .news-pannel,
.news-item.selected .title-news,
.news-item:hover p,
.news-item:hover .news-pannel,
.news-item:hover .title-news {
	color: #fff;
}
.news-pannel {
	margin-bottom: 10px;
	color: #8f8f8f;
	font-size: 0;
	height: 20px;
}
.news-pannel span {
	display: inline-block;
	font: 10px Tahoma, sans-serif;
	vertical-align: middle;
}
.divide {
	width: 1px;
	height: 21px;
	background: #dfdfdf;
	margin: 0 30px;
}
.rate {
	width: 65px;
	margin-right: 5px;
}
.rate span {
	width: 92%;
	height: 14px;
	background: url(../img/star.png) repeat-x;
}
.news-item.selected .rate span,
.news-item:hover .rate span {
	width: 74%;
	background-position: 0 -14px;
}
.news-item:nth-of-type(3) {
	margin-bottom: 9px;
	padding: 22px 34px;
}
.news-item:not(:nth-of-type(1)) .news-pannel,
.news-item:not(:nth-of-type(2)) .news-pannel {
	margin-bottom: 0;
}
.news-item:nth-of-type(3) .divide {
	margin: 0 15px 0 25px;
}
.news-item:nth-of-type(4),
.news-item:nth-of-type(5),
.news-item:nth-of-type(6),
.news-item:nth-of-type(7) {
	margin-bottom: 7px;
	padding: 15px 34px;
}
.news-item:not(:nth-of-type(1)) .divide,
.news-item:not(:nth-of-type(2)) .divide {
	margin: 0 15px 0 25px;
}
.read {
	margin: 25px 0;
}
.read span,
.read .read-plus,
.read .read-plus a {
	display: block;
	
	text-align: center;
}
.read .read-plus a {
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 20px;
	height: 19px;
	background: url(../img/plus.png) no-repeat;
}
.read .read-plus a:hover {
	background-position: 0 -20px;
}
.read span {
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: bold;
	color: #bdbdbd;
	-webkit-text-shadow: rgba(255, 255, 255, 1);
	   -moz-text-shadow: rgba(255, 255, 255, 1);
	    -ms-text-shadow: rgba(255, 255, 255, 1);
	     -o-text-shadow: rgba(255, 255, 255, 1);
	        text-shadow: rgba(255, 255, 255, 1);
}
.text-box-1 {
	padding: 30px 30px 30px 50px;
	background-color: #fff;
	color: #707070;
	margin-bottom: 1px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
	   -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
	        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
}
h2.title {
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 25px;
}
.text-box-1 p {
	font-weight: bold;
}
.text-box-1 p:first-of-type {
	margin-bottom: 40px
}
.text-box-1 .red-rext {
	color: red;
}
.like-box {
	padding: 13px 25px;
	margin-bottom: 30px;
	background: #efefef;
	color: #a2a2a2;
	font-size: 12px;
	vertical-align: middle;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
	   -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
	        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
}
.like-box .like-date,
.like-box .like-count {
	display: inline-block;
}
.like-count span,
.like-count a {
	display: inline-block;
	vertical-align: middle;
}
.like-count span {
	margin-right: 10px;
}
.text-box-2,
.text-box-3 {
	background-color: #fff;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
	   -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
	        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
}
.text-box-2 img {
	display: block;
	width: 100%;
	height: auto;
}
.text-box-footer {
	padding: 30px 60px 40px 50px;
}
.text-box-footer h2.title,
.text-box-3 h2.title {
	line-height: 35px;
	color: #707070;
}
.text-box-footer p,
.text-box-3 p {
	color: #949494;
	font-size: 14px;
	line-height: 18px;
}
.text-box-footer p:not(:last-of-type) {
	margin-bottom: 10px;
}
.text-box-3 {
	padding: 55px 35px 40px 50px;
}
.text-box-3 p:first-of-type {
	line-height: 24px;
	margin-bottom: 30px;
}
.text-box-3 p:nth-of-type(2) {
	margin-bottom: 30px;
}
#footer {
	background-color: #373737;
	padding: 30px 0;
}
.footer-menu li {
	margin-right: 20px;
}
.footer-menu a {
	font-size: 12px;
	line-height: 40px;
	color: #fff;
}
.footer-menu a:hover {
	color: #7e7e7e;
} 
#footer p {
	color: #7e7e7e;
	font-size: 11px;
	line-height: 20px;
}